<div class="card-bg text-white">

    <div class="card-header px-4 pt-3">
        <div class="back-btn-div text-white">
            <a (click)="onBackBtnClick()" class="bk-btn-link">Back</a>
        </div>
        <div class="pb-5 pt-2 text-center card-title-div">
            <span>
                {{ cardTitle }}
                <!-- <mat-icon class="red-icon">favorite</mat-icon>  -->
                <div class="wrapper-favourite">
                    <!-- <fa-icon [icon]="faHeart" class="fav-color"></fa-icon> -->
                    <!-- <mat-icon class="red-icon">favorite_border</mat-icon>  -->
                    <mat-icon class="red-icon">favorite</mat-icon> 
                </div>
            </span>
        </div>
    </div>

    
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Events">
        
            <div class="material-tab-body">
                <app-card-events-tab [eventId]="eventId"></app-card-events-tab>
            </div>
        </mat-tab>
        <mat-tab label="Artist/Teams" class="text-white">
            <div class="material-tab-body">
                <app-card-artists-tab></app-card-artists-tab>
            </div>
        </mat-tab>
        <mat-tab label="Venue">
            <div class="material-tab-body">
                <app-card-venue-tab></app-card-venue-tab>
            </div>
        </mat-tab>
    </mat-tab-group>
    
</div>