<div class="bg-dark text-center text-white">
    <h1>Card component in action</h1>
    <a (click)="onBackBtnClick()">Click to show table</a>
    <p>Below is material tab implementation</p>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Events&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
            <div class="material-tab-body">
                Events Content
            </div>
        </mat-tab>
        <mat-tab label="Artist/Teams">
            <div class="material-tab-body">
                Artist Content
            </div>
        </mat-tab>
        <mat-tab label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Venue&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
            <div class="material-tab-body">
                Venue Content
            </div>
        </mat-tab>
    </mat-tab-group>
    
</div>