.material-tab{
    background-color: aqua;
}

/* .material-tab-body {
    background-color: red;
} */

.mat-label-row{
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-bg{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    /* background-color: red; */
}

/* .mat-tab-group .mat-tab-label {
    color: red;
  } */

  
 /* ::ng-deep .mat-tab-label-container{
    color: white;
 } */

.mdc-tab__text-label{
color: white !important;
}
 
.mdc-tab__content{
width: 6rem;
}

.mat-mdc-tab-labels{
    background-color: rgb(0, 128, 113);
}


.card-title-div{
    font-size: 2rem;
}

.bk-btn-link{
    color: white;
    text-decoration: underline;
}

.bk-btn-link:hover{
    cursor: pointer;
    color: white;
}

/* .non-favourite-icon{
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 50%;

    box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  padding: 2%;
} */

.red-icon {
    /* color: black; */
    color: red;
}

.wrapper-favourite {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

.fav-color {
    color: black;
}

.fav-icon:hover {
    cursor: pointer;
}