<div class="container">
    <div class="row py-2">
        <div class="col-md-6 col-sm-12">
            <div class="row text-center py-2">
                <label class="venue-tab-labels">Name</label><br>
                <span class="venue-card-api-text">Crypto.com Arena</span>
            </div>

            <div class="row text-center py-2">
                <label class="venue-tab-labels">Address</label><br>
                <span class="venue-card-api-text">1111 S. Figueroa St, LA</span>
            </div>

            <div class="row text-center py-2">
                <label class="venue-tab-labels">Phone Number</label><br>
                <span class="venue-card-api-text">646-244-5474</span>
            </div>

        </div>
        <div class="col-md-6 col-sm-12">
            
            <div class="row text-center py-2">
                <label class="venue-tab-labels">Open Hours</label><br>
                <span class="venue-card-api-text">
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    <!-- {{ dummyResponseText.substr(180) }} -->
                    <!-- <span [ngClass]="{ 'hidden': dummyResponseText.length <= 180 }">{{ dummyResponseText.substr(180) }}</span> -->
                    <!-- <a href="#" class="show-more" (click)="toogleShowMoreLink($event)" *ngIf="dummyResponseText.length > 180">{{ dummyResponseText.length > 180 && 'Show more' || 'Show less' }}</a> -->
                </span>
            </div>

            <div class="row text-center py-2">
                <label class="venue-tab-labels">General Rule</label><br>
                <span class="venue-card-api-text">
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                </span>
            </div>
        
            <div class="row text-center py-2">
                <label class="venue-tab-labels">Child Rule</label><br>
                <span class="venue-card-api-text">
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                    Some text which feels authentic and is long enough.
                </span>
            </div>

        </div>

        <div class="d-flex align-items-center justify-content-center pt-2">
            <button class="px-3 py-2 text-white btn btn-danger">Show venue on Google map</button>
        </div>
    </div>
</div>