<div class="mt-5" *ngIf="eventsTableData">
  <div *ngIf="!showCard">
    <div class="d-flex justify-content-center">
      <table class="mt-4 table table-dark table-striped" id="events-table">
          <thead>
            <tr>
              <th>Date/Time</th>
              <th>Icon</th>
              <th>Event</th>
              <th>Genre</th>
              <th>Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of eventsTableData" (click)="onTableRowClick(row)" class="events-table-row">
              <td>{{ row.dates?.start?.localDate }}<br>{{ row.dates?.start?.localTime}}</td>
              <td><img [src]="row.images[5].url" width="150"></td>
              <td>{{ row.name }}</td>
              <td>
                <span *ngIf="row.classifications[0]?.segment?.name && row.classifications[0]?.segment?.name.toLowerCase() !== 'undefined'">
                  {{ row.classifications[0]?.segment?.name }}
                </span>
              </td>
              <td>
                <span *ngIf="row._embedded?.venues[0]?.name && row._embedded?.venues[0]?.name.toLowerCase() !== 'undefined'">
                  {{ row._embedded?.venues[0]?.name }}
                </span>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  
  
  <!-- add card component selector based on show_card variable -->
  <div *ngIf="showCard" class="pb-5">
    <app-card [sRowData]="slRowData" (backBtnClicked)="onBackClick($event)"></app-card>
  </div>
</div>
