<nav class="navbar navbar-expand navbar-dark bg-transparent">
  <div class="container-fluid justify-content-end">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-3" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a routerLink="/favourites" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-3" href="#">Favourites</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>