.event-tab-labels{
    color: aqua;
    font-size: 1.4rem;
}

.featuring-album-text{
    margin-left: 5%;
}


.progressValueDiv{
    position: relative;
}

.followers-text{
    font-size: 1.6rem;
}

.no-music-artist-events{
    background-color: white;
    color: red;
    margin: 0 auto;
    border-radius: 30px;
}