<div class="container">      
    <ngb-carousel *ngIf="artistsApiData" [interval]="intervalSeconds" [showNavigationArrows]="artistsApiData.length > 1" [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let artist of artistsApiData">
        <div class="container p-5">
          <div class="row px-5">
            <div class="col-md-3 col-sm-12 d-flex justify-content-center align-items-center">
              <div class="text-center">
                <img [src]="artist.dp" width="200" style="border-radius: 50%;"><br>
                <label style="font-size: 1.8rem;" class="event-tab-labels">{{ artist.name }}</label>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 d-flex justify-content-center align-items-center">
              <div class="text-center">
                <label class="event-tab-labels pt-5 pb-3">Popularity</label><br>
                <div style="position: relative; left: 20px">
                  <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  diameter="60"
                  [value]="artist.popularity">
                  </mat-progress-spinner>
                  <div style="position:relative; top: -45px; left: -20px; font-size: large;">{{ artist.popularity }}</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 d-flex justify-content-center align-items-center">
              <div class="text-center">
                <label class="event-tab-labels pb-2">Followers</label><br>
                <span class="followers-text">{{ artist.followers }}</span>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 d-flex justify-content-center align-items-center">
              <div class="text-center">
                <label class="event-tab-labels pt-4 pb-2">Spotify Link</label><br>
                <a [href]="artist.external_urls" target="_blank"><img src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-download-logo-30.png" width="60"></a>
              </div>
            </div>
          </div>

          <div class="row my-4 event-tab-labels featuring-album-text"><p>Album featuring {{ artist.name }}</p></div>

          <div class="row">
            <div class="col-md-4 col-sm-12 text-center pb-3" *ngFor="let url of artist.topThreeAlbumsUrl">
              <img [src]="url" width="200"> 
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
    <div *ngIf="artistsApiData.length == 0" class="m-5 d-flex align-items-center justify-content-center" style="min-height: 25rem;">
      <div class="no-music-artist-events">No music related artist details to show</div>
  </div>
</div>