@import "~bootstrap/dist/css/bootstrap.min.css";
body{
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.navbar .nav-item .active {
    border: 1px solid white;
    border-radius: 10px;
}

.events-form-labels {
    color: #88bfda;
    font-family: Trebuchet MS;
}

